<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.charile.xiyi">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        >

        <!--设计稿尺寸,为autolayout计算使用-->
        <meta-data android:name="design_width" android:value="640">
        </meta-data>
        <meta-data android:name="design_height" android:value="1136">
        </meta-data>

        <activity android:name=".welcome.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".welcome.WelcomeLoginInfoActivity" />
        <activity android:name=".welcome.SlidePageActivity" />
        <activity android:name=".welcome.LoginActivity" />


        <activity android:name=".home.HomeActivity"
            android:launchMode="singleTask">
        </activity>
        <activity android:name=".home.HomePieceActivity" />

        <activity android:name=".my.MyOrderActivity" />
        <activity android:name=".my.MyCreditActivity" />
        <activity android:name=".my.MyCreditPwdMgtActivity" />
        <activity android:name=".my.MyCreditPwdUpdateActivity" />
        <activity android:name=".my.MyCreditPwdResetActivity" />
        <activity android:name=".my.MyAddressActivity" />
        <activity android:name=".my.MyAddressUpdateActivity" />
        <activity android:name=".my.MyShareActivity" />
        <activity android:name=".my.MyCouponActivity" />
        <activity android:name=".my.MyRecoCodeActivity" />

        <activity android:name=".more.MoreFeedbackActivity" />

    </application>

    <!--permissions-->

    <!--允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--获取GSM（2g）、WCDMA（联通3g）等网络状态的信息  -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--获取sd卡写的权限，用于文件上传和下载-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许读取手机状态 用于创建BmobInstallation-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--允许拨打电话-->
    <uses-permission android:name="android.permission.CALL_PHONE"/>

</manifest>